
//FONT
$fontDefault :'Open Sans', sans-serif;
$roboto : 'Roboto', sans-serif;
$quicksand :  'Quicksand', sans-serif;
$fontbanner :  'hijrnotes_personal_use_onlyRg';

//COLORS
$black : #000;
$white : #fff;
$grey : #555;
$greyFooter : #989a9c;
$greyWhite : #bfbfbf;
$whiteGrey:  #e3efee;
$blue : #007079;
$green:#00848e;
$blueDark : #007077;
$orange : #fe4f0b;

//FONT-SIZE

$defaut : 16px;
$paragraph : 18px;
$date : 21px;
$linkDate : 13px;
$textFont : 13px; 
$boxServ : 24px;
$title : 24px;
$banner : 34px;
$bannerHover : 25px;
$cvTitle : 25px;
$cvTask : 20px;

  