@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


@import '../../../node_modules/font-awesome/scss/font-awesome.scss';

@font-face {
    font-family: 'hijrnotes_personal_use_onlyRg';
    src: url('../../fonts/hijrnotes_personal_use_only-webfont.ttf') format('woff2'),
         url('../../fonts/hijrnotes_personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}